{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h2 id="h2-posts" class="shadow-sm p-3 mb-5 bg-body rounded">All Posts</h2>

    {% if user.is_authenticated%}
    <div id="newpost">
        <h4>New Post </h3>
        <form id="compose-post">
            {% csrf_token %}
            <!-- <div class="form-group">
                Author: <input disabled class="form-control" value="{{ request.user.username }}">
            </div> -->
            <textarea class="form-control" id="post-text" placeholder="Say something"  minlength="2" required></textarea>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
            <br>
        </form>
        <br>
    </div>
    {% endif %}


    <div class="posts-block">
    {% for post in posts %}
    
            <div class="post-{{post.id}} post">
                <div class="alert alert-success"><a class="profile-name" href = "profile/{{ post.author }}">{{ post.author }} </a> says at {{post.date}}</div>  
                Post:
                <div class="text-{{post.id}} elem-post">{{post.text}}</div>
               
                <div class="my-buttons">
                    
                {% if user.is_authenticated %}
                    {% if post in liked_posts %}
                    
                        <div class="like"  data-userid="{{ user.id }}">
                           
                            <button class="heart added btn btn-info" type="button" id='heart-{{post.id}}' data-post-id = {{post.id}}>Likes
                                <span class="likes_number" id='num-{{post.id}}'> {{post.likes.count}}</span>
                            </button>
                        </div>
                        <hr>

                    {% else %}

                        <div class="like" data-postid="{{ post.id }}" data-userid="{{ user.id }}">
                            
                            
                            <button class="heart btn btn-info" type="button" id='heart-{{post.id}}' data-post-id = {{post.id}}>Likes 
                                <span class="likes_number" id='num-{{post.id}}'>{{post.likes.count}}</span>
                            </button>
            
                        </div>
                        <hr>
                     {%endif%}

            
                {% else %}
                        <div class=" ">
                            <span class="likes_number btn btn-info" id='num-{{post.id}}'>Likes {{post.likes.count}}</span>                        
                        </div>
                        
                <hr>
                {%endif%}

                {% if user.is_authenticated and user == post.author%}
                    <div class='edit_post-{{post.id}} edit_post' data-post-id = {{post.id}}>
                        <button class='btn btn-warning' data-post_id = {{post.id}} type="button" >
                            <span>
                                Edit post
                            </span> 
                        </button>
                    </div>
                    <br>
                {% endif %}
                </div>

                
        </div>
        

    {% endfor %}
    </div>
    


    {% include "network/pagination.html" with page=posts %} 
{% endblock %} 
</div>
    

{% block script %}
    <script src="{% static 'network/index13.js' %}"></script>
{% endblock %}