{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
    <h2>Create your listing!</h2>
    {% if message %}
    <div class="alert alert-warning" role="alert">
          <div>{{ message }}</div>
    </div>
    {% endif %}

    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <select class="form-control" name = "category">
          {%for category in categories%}
            <option value="{{ category.id }}" >{{ category }}</option>
          {%endfor%}
        </select>
        <div class="form-group">
          <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="20" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="number" name="start_bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="url" name="image_URL" placeholder="Image URL">
        </div>
        <input class="btn btn-primary" type="submit" value="create">
    </form>
  </div>


{% endblock %}
